
<%- include('composants/head.ejs') %> 
	<body>
		 <%- include('composants/entete.ejs') %>
		 <%- include('composants/form_post.ejs') %>
		 <%- include('composants/adr.ejs') %>
		 <%- include('composants/footer.ejs') %>
	</body>


	<script type="text/javascript">
	 let elmSave = document.querySelectorAll('.sauver')
	 console.log('elmSave = ' + elmSave.length)
	 for (elm of elmSave){
		 elm.addEventListener('click', function(){
		 
			 let infoAdr = this.parentNode.parentNode

			 let id = infoAdr.children[0].innerHTML

			 let nom = infoAdr.children[1].innerHTML

			 let prenom = infoAdr.children[2].innerHTML

			 let telephone = infoAdr.children[3].innerHTML

			 let courriel = infoAdr.children[4].innerHTML

			 let elmForm = document.getElementById('mon_formulaire')

			 console.log(elmForm.tagName)
				 let elmInput = elmForm.querySelectorAll('input')
				 elmInput[0].value = id
				 elmInput[1].value = nom
				 elmInput[2].value = prenom
				 elmInput[3].value = telephone
				 elmInput[4].value = courriel

			 elmForm.submit()
		 })
	 } 
	</script>
</html>